@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h1 class="display-4">Codebin</h1>
    <p>
        Create and access your code snippets anytime & anywhere.
    </p>
</div>
